
body{
  margin:0;
  display:grid;
  place-items:center;
  height:100vh;
}

.box{
  position:relative;
  width:100%;
  max-width:800px;
  aspect-ratio:16/9;
  --p:50%;
}

img{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

img:first-child{
  z-index:2;
  clip-path:inset(0 calc(100% - var(--p)) 0 0);
}

input{
  position:absolute;
  inset:0;
  opacity:0;
  cursor:ew-resize;
  z-index:3;
}

.box::after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:var(--p);
  width:2px;
  background:#fff;
  transform:translateX(-50%);
}

.box::before{
  content:"";
  position:absolute;
  top:50%;
  left:var(--p);
  width:44px;
  height:44px;
  background:url(splitter.svg) center/contain no-repeat;
  transform:translate(-50%,-50%);
}
